code textarea{clear:both; margin-bottom:80px; width:80%; padding:1em;}


/*
	Boxes
*/
.box{border: 1px solid #8c6239; padding:20px;padding-top:18px; margin:40px 0px;clear:both;overflow:auto;}
.box.green {font-size:1.2em;background:#71c2b3;margin-top:0px;line-height:1.3em;color:#fff;}
.box.green h2 { color:#754c24; } 
.box.green h3 { color:#754c24; }
.box.green a{color:#8c6239;}
.box.green a:hover{color:#a67c52;}
.box.top { margin-top:4px; }
.box.bottom { margin-bottom:20px; }

.box.gray{
font-size:15px;
background: #fafafa; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 47%, #fafafa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#fafafa), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#fafafa 47%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#fafafa 47%,#fafafa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#fafafa 47%,#fafafa 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#fafafa 47%,#fafafa 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}
.box.gray p {line-height:1.5em;}


/*
	Separator
*/
.separator { width:100%;height:29px;border-bottom:1px solid #e5e5e5; margin-bottom:30px; clear:both;}



/*
	Accordion :: Must have js script
*/
.accordion{margin:30px 0 40px 0;clear:both;}
.accordion h3{display:block; padding:10px; font-size:18px; background:#603913; margin:0; color:#71c2b3; margin-bottom:3px;}
.accordion h3:hover {cursor: pointer;color:#fff5db;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
.accordion div {padding:20px 0 20px 20px; font-size:1em;}
.plus {float:right;font-size:32px;font-weight:normal;line-height:16px;}



/*
	Table Of Contents
*/
.toc{float:left; background:#754c24; border:1px solid #e5e5e5; padding:0 20px 20px 20px; margin:4px 25px 30px 0; width:20%;}
.toc h2{ font-size: 1.5em; line-height:30px; margin-bottom:.5em; border-bottom:1px solid #e5e5e5; color:#fff5db;}
.toc a{font-size:14px; line-height:1.2em; float:left; font-style:italic; margin-bottom:15px; clear:both;}
.toc a:hover{}

/*
.boxed{float:left; background:#f5f5f5; border:1px solid #e5e5e5; padding:20px; margin:0 25px 20px 0;}
.boxed h2{line-height: 30px; font-family: Georgia, sans-serif;  font-style: italic; color:#555; border-bottom:1px solid #e5e5e5; text-shadow:1px 1px #fff;}
.boxed a{color:#0082c8; font-size:14px; float:left; font-style: italic; margin-bottom:3px; clear:both;}
.boxed a:hover{color:#0054a6;}
*/


/*
	Content Tabs
*/
.content-tabs{margin:20px 0 40px 0; padding:0; overflow:hidden;}
.content-tabs .menu-wrapper{overflow: hidden; margin-bottom:-1px; z-index:2; background:#603913; border:1px solid #603913; border-bottom:none; float:left; width:99.8%;-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
padding:5px 0 0 7px;
}
.content-tabs ul.tab-menu{margin:0; padding:0;}
.content-tabs ul.tab-menu{list-style:none;list-style-image: none; list-style:none; margin:0; list-style-position:inherit; width:100%; float:left;}
.content-tabs ul.tab-menu li{list-style:none; list-style-image:none; float:left; margin:0 5px 0 0; padding:0;background:none;}
.content-tabs ul.tab-menu li a{float:left;  line-height: 50px; padding:0 20px; font-size:1.1em; text-transform: uppercase;-webkit-border-top-left-radius: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-topleft: 3px;
-moz-border-radius-topright: 3px;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
outline:none;
color:#fff5db;
background: #a67c52;
}
.content-tabs ul.tab-menu li a:hover{color:#8ef5e2;/*background: #a67c52;*/}
.content-tabs ul.tab-menu li a.current{color:#8ef5e2; background: #a67c52;background: #fff5db;
color:#603913;}
.content-tabs .tab-content-wrapper{padding:20px; overflow:hidden; clear:both;background: #fff5db; color:#a67c52; border:1px solid #603913; border-top:none;}
.content-tabs .tab-content-wrapper h2{line-height: 1em;}
.content-tabs .tab-content-wrapper h3{line-height: 1em;}
.content-tabs .tab-content-wrapper a{/*color:#70c2b3;color:#8ef5e2;*/}





/*
	People
*/
.person-block{width:105px; height:200px; margin:0 auto; float:left;}
.person-block span{width:100%; height:100%; display:block; position:relative; margin: 0 auto; 
background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
}
.man-brw{background-image: url(../images/icons/icon-lrg-man-brw.png);}
.man-l-brw{background-image: url(../images/icons/icon-lrg-man-l-brw.png);}
.man-green{background-image: url(../images/icons/icon-lrg-man-grn.png);}
.woman-brw{background-image: url(../images/icons/icon-lrg-woman-brw.png);}
.woman-l-brw{background-image: url(../images/icons/icon-lrg-woman-l-brw.png);}
.woman-green{background-image: url(../images/icons/icon-lrg-woman-grn.png);}


/*
	Arrow
*/
.arrow-block{width:105px; height:200px; margin:0 auto; float:left;}
.arrow-block span{width:100%; height:100%; display:block; position:relative; margin: 0 auto; 
background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
}
.arrow-brw-1{background-image: url(../images/icons/icon-lrg-arrow-brw-1.png);}
.arrow-brw-2{background-image: url(../images/icons/icon-lrg-arrow-brw-2.png);}
.arrow-brw-3{background-image: url(../images/icons/icon-lrg-arrow-brw-3.png);}
.arrow-l-brw-1{background-image: url(../images/icons/icon-lrg-arrow-l-brw-1.png);}
.arrow-l-brw-2{background-image: url(../images/icons/icon-lrg-arrow-l-brw-2.png);}
.arrow-l-brw-3{background-image: url(../images/icons/icon-lrg-arrow-l-brw-3.png);}
.arrow-grn-1{background-image: url(../images/icons/icon-lrg-arrow-grn-1.png);}
.arrow-grn-2{background-image: url(../images/icons/icon-lrg-arrow-grn-2.png);}
.arrow-grn-3{background-image: url(../images/icons/icon-lrg-arrow-grn-3.png);}


/*
	Pie Chart
*/
.pc-block{width:200px; height:200px; margin:0 auto; float:left;}
.pc-block span{width:100%; height:100%; display:block; position:relative; margin: 0 auto; 
background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
}
.pc-brw-1-8{background-image: url(../images/icons/icon-pc-brw-1-8.png);}
.pc-brw-2-8{background-image: url(../images/icons/icon-pc-brw-2-8.png);}
.pc-brw-3-8{background-image: url(../images/icons/icon-pc-brw-3-8.png);}
.pc-brw-4-8{background-image: url(../images/icons/icon-pc-brw-4-8.png);}
.pc-brw-5-8{background-image: url(../images/icons/icon-pc-brw-5-8.png);}
.pc-brw-6-8{background-image: url(../images/icons/icon-pc-brw-6-8.png);}
.pc-brw-7-8{background-image: url(../images/icons/icon-pc-brw-7-8.png);}
.pc-grn-1-8{background-image: url(../images/icons/icon-pc-grn-1-8.png);}
.pc-grn-2-8{background-image: url(../images/icons/icon-pc-grn-2-8.png);}
.pc-grn-3-8{background-image: url(../images/icons/icon-pc-grn-3-8.png);}
.pc-grn-4-8{background-image: url(../images/icons/icon-pc-grn-4-8.png);}
.pc-grn-5-8{background-image: url(../images/icons/icon-pc-grn-5-8.png);}
.pc-grn-6-8{background-image: url(../images/icons/icon-pc-grn-6-8.png);}
.pc-grn-7-8{background-image: url(../images/icons/icon-pc-grn-7-8.png);}




/*
	Info Box
*/
.info-box-green{min-height:200px; width:50%; background:#71c2b3 url(../images/icons/icon-info-box.png) 20px 0 no-repeat; float:left; overflow:hidden; padding-left:200px;}
.info-box-brown{min-height:200px; width:60%; background: #754c24 url(../images/icons/icon-info-box.png) 20px bottom no-repeat; float:left; overflow:hidden; padding-left:200px;}
/*
.i-icon-block{
background-image: url(../images/icons/icon-info-box.png);
background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:bottom;
width:200px;
height:200px;
float:left;
}
*/
.info-box-green .text-block, .info-box-brown .text-block{ height:88%; width:80%; color:#fff; padding:1%;}




/*
	Circles
*/
.circle { width:200px; height:200px; background: #754c24; -moz-border-radius: 50px; -webkit-border-radius: 50px; border-radius: 100px; text-align:center; color:#fff; font-size:1.3em; font-weight:700; position:relative; float:left;}
.circle-content { 
  position: absolute; 
  left: 35px; 
  top: 40px; 
  width: 135px; 
  height: 120px; 
  display: table; 
}
.circle-content p {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
  margin:0;
  padding:0;
  text-shadow: -1px -1px #555;
}
.circle.l-brown{background: #a67c52;}
.circle.green{background: #71c2b3; color:#fff;}




.section-header {border: 1px solid #8c6239; padding:0em 2em 2em 2em; margin-bottom:0em; font-size:1.2em; background:#71c2b3; margin-top:0px; line-height:1.3em;color:#fff;}

.section-header h2{font-size:3em; line-height:.5em;}

